// Light Scheme
// $primary-color: #e71d36;

// $background-color: #fdfffc;

// $regular-text-color: #011627;

// $h1-gradient-left-color:#e71d36;
// $h1-gradient-right-color: #ff9f1c;

$primary-color: #0098D9;

$background-color: #fdfffc;

$regular-text-color: #011627;

$h1-gradient-left-color: #22A5BE;
$h1-gradient-right-color: #19525D;

// // Dark Scheme
// $primary-dark-color: #ff9f1c;

// $background-dark-color: #011627;

// $regular-dark-text-color: #fdfffc;