@use "animations";
@use "variables";

.container {
}

.main {

  .scrollingHeroWrap {
    position: relative;
  }

  .scrollingHeroTrigger {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: auto;
    z-index: -1;
    height: 100vh;
  }

  .scrollingHeroStickyWrap {
    height: 60vw;
    min-height: 100vh;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .scrollingHeroStickyGap {
    height: 100vh;
  }

  .scrollingHeroOverflowWrap {
    overflow: hidden;
    height: 100%;
  }

  .scrollingHero {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    will-change: transform;
    transform-style: preserve-3d;
  }

  .heroImage {
    will-change: opacity;
    position: relative;
    left: 50%;
    z-index: 1;
    width: 16.9em;
    max-width: none;
    margin-top: 3.2em;
    margin-left: -8.45em;
    opacity: 1;
    font-size: 10vw;
    border: 0;
    vertical-align: middle;
    display: inline-block;
  }

  .scrollingHeroInsideContainer {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: auto;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    max-width: none;
    padding-top: 100px;
    padding-bottom: 100px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    width: 90%;
    max-width: 980px;
    margin-right: auto;
    margin-left: auto;
  }

  .scrollingHeroInsideImageWrap {
    position: relative;
    z-index: 2;
    width: 25vw;
    height: 25vw;
    max-height: 40vh;
    max-width: 40vh;
    min-height: 350px;
    min-width: 350px;
    margin-bottom: 64px;
  }

  .scrollingHeroInsideImageContainer {
    position: relative;
    z-index: 3;
    width: 100%;
    height: 100%;
    padding: 12px;
    border: 1px solid hsla(0, 0%, 100%, 0.3);
    border-radius: 50%;
    background-color: hsla(0, 0%, 84%, 0.5);
    -o-object-fit: cover;
    object-fit: cover;
  }

  .heroImageInside {
    display: block;
    width: 100%;
    height: 100%;
    max-width: none;
    border-radius: 50%;
    order: 0;
    max-width: 100%;
    display: inline-block;
  }
}

.footer {
}
