@use "animations";
@use "variables";

@mixin bp($point) {
  @if $point == sm {
    @media (min-width: 480px) { @content; }
  }
  @else if $point == maxmd {
    @media (max-width: 767px) { @content; }
  }
  @else if $point == md {
    @media (min-width: 768px) { @content; }
  }
  @else if $point == lg {
    @media (min-width: 1000px)  { @content; }
  }
  @else if $point == xlg {
    @media (min-width: 1200px)  { @content; }
  }
}

.container {
  animation: fadeIn 1.5s;
  -webkit-animation: fadeIn 1.5s;
  -moz-animation: fadeIn 1.5s;
  -o-animation: fadeIn 1.5s;
  -ms-animation: fadeIn 1.5s;

  max-width: 1200px;
  margin: 0 auto;
}

.main {
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-weight: bold;
  }

  h1 {
    margin: 100px 15px 64px;
    @include bp(md) { margin: 1em 0; }
    line-height:64px;
    @include bp(md) { line-height: 9vw; }
    background-image: linear-gradient(147deg, variables.$h1-gradient-left-color, variables.$h1-gradient-right-color );
    background-clip: text;
    color: transparent;
    letter-spacing: .1em;
  }

  h2 {
    color: variables.$primary-color;
  }

  a {
    color: variables.$primary-color;
  }

  button {
    background: none;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    margin: 0;
    padding: 1em 2em;

    color: variables.$primary-color;
    transition: 0.25s;
  
    &:hover,
    &:focus { 
      box-shadow: inset 0 0 0 2em adjust-hue(variables.$primary-color, 15deg);
      border-color: adjust-hue(variables.$primary-color, 15deg);
      color: #fff;
      cursor: pointer;
    }
  }

  .row {
    display: flex;
    flex-direction: column;
    @include bp(md) { flex-direction: row; }
    padding: 0px 15px;
  }

  .columnMain {
    width: 100%;
    @include bp(md) { width: 66.6667%; }
    margin: 0; padding: 0;

    .section {
      margin-bottom: 3em;
      width: 100%;
      @include bp(md) { width: 85%; }
    }
  }
  
  .columnSub {
    width: 100%;
    @include bp(md) { width: 33.3333%; }
    margin: 0; padding: 0;

    .section {
      margin-bottom: 3em;
      width: 100%;
      @include bp(md) { width: 81.1737%;}
    }
  }

  .columnThird {
    width: 100%;
    @include bp(md) { width: 33.3333%; }
    margin: 0; padding: 0;
  }

  .rowLinks {
    margin: 3em 0;
    @include bp(md) { margin: 0 0 3em 0; }
    border-top: 1px solid variables.$primary-color;

    p {
      font-weight: bold;
      margin-bottom: .5em;
      text-transform: uppercase;
      letter-spacing: .1em;
    }

    a {
      margin: 0;
      font-weight: bold;
      letter-spacing: .05em;
    }
  }

  .education {
    article {
      margin: 0 0 1.5em 0;
    }
    h3 {
      margin: 0 0 .25em 0;
    }
    li {
      font-weight: 400;
      letter-spacing: .05em;
      margin: 0 0 .15em 0;
    } 
    p {
      margin: .50em 0;
    }
  }

  .experience {
    article {
      margin: 0 0 2.5em 0;
    }
    h3 {
      margin: 0 0 .25em 0;
    }
    li {
      font-weight: 400;
      letter-spacing: .05em;
      margin: 0 0 .15em 0;
    } 
    p {
      margin: .50em 0;
    }

    h5 {
      font-size: 16px;
      margin: 0 0 0 0;
    }

    .achievements {
      list-style-type: disc;
      padding-left: 10px !important;
      margin-left: 10px !important;
      li {
        font-weight: 300 !important;
      }
    }
  }

  .skills {
    h4 {
      margin: 1em 0 .5em 0;
    }
    p {
      margin: 0 0 2em 0;
    }
  }
  
  .tools {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;

    .tool {
      display: flex;
      width: 100%;
    }

    a {
      width: 30%;
    }

    p {
      width: 70%;
      margin: 0;
      line-height: 30px;
      vertical-align: middle;
    }
  }
}

.footer {
}
